/*css general*/
* {
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to left, rgb(0, 0, 255), rgb(0, 140, 255), rgb(0, 238, 255));
}
label {
    background-color: white;
    padding: 0.5em;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

div {
    margin: 10px;
    align-items: center;
    justify-content: center;
}

form {
    margin: 1.5em;
    padding: 0.8em;
    background-image: linear-gradient(to left, rgb(210, 210, 210), rgb(150, 150, 150), rgb(180, 180, 180));
}

p,
tr,
td,
h1,
h2 {
    padding: 0.3em;
    margin: 0.3em;

}

input {
    color: black;
    padding: .6rem;
    font-weight: 450;
    min-width: 320px;
    max-width: 320px;
}

input:hover,
input:focus {
    background-color: skyblue;
}

/*hide arrow on field input phoneNumber*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: .5em;
    background-color: white;
    font: inherit;
    text-align: center;
    justify-content: center;
    min-width: 150px;
    max-width: 150px;
}

select:hover,
select:focus {
    background-color: skyblue;
    color: black;
}

select:active {
    background-color: skyblue;
}

select::-ms-expand {
    display: none;
}

option {
    background-color: white;
}

/*css classes*/
.divAppoit {
    overflow:auto;
    margin: 5em;
    margin: 2.2em;
    padding: 0.5em;
    min-width: 600px;
    min-height: 200px;
    max-width: 600px;
    max-height: 200px;
    background-image: linear-gradient(to left, rgb(210, 210, 210), rgb(150, 150, 150), rgb(180, 180, 180));
}

.btnGeral {
    position: relative;
    padding: 0.5em;
    border: 0;
    background-color: rgb(120, 180, 250);
    font-weight: 600;
    min-width: 90px;
    min-height: 30px;
    max-width: 90px;
    max-height: 30px;
}

.btnGeral:hover,
.btnGeral:focus {
    background-color: dodgerblue;
    border: 1px solid blue;
}

.inputData {
    padding: 0.5rem;
    font-weight: 600;
    min-width: 120px;
    max-width: 120px;
}

.dateInfo, .totalPrice {
    position: relative;
    text-align: center;
}

/*css ids*/

#extrainfo {
    padding: 0.9rem;
    font-weight: 600;
    min-width: 650px;
    max-width: 650px;
}

#listBtn {
    display: relative;
    justify-content: center;
    align-items: center;
}

#github {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
    position: relative;
    padding: .31em;
    right: 0%;
    top: 0%;
    background-image: url("imagem/github.png");
    background-repeat: no-repeat;
    background-position: center;
}

#divForm {
    width: min-content;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
}

#serviceorder {
    text-align: right;
}

#labelDateInfo,
#labelTotalPrice {
    background-color: transparent;
    font-weight: 600;
}
#serviceDiv{
    min-width: 200px;
    min-height: 10px;
    max-width:max-content;
    max-height:max-content;
    padding: 0.9rem;
    background-color: white;
}
#serNumber {
    color: black;
    padding: .6rem;
    font-size: medium;
    min-width: 150px;
    max-width: 150px;
}

/* CSS for tests */
table {
    border-collapse: collapse;
    border: 1px solid #FF0000;
}

table td {
    border: 1px solid #FF0000;
}